#avatar {
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-smoothing-type: lcd;
}
#nickname {
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-text-fill: -fx-colors-text;
    -fx-text-overrun: ellipsis;
}
#role {
    -fx-font-weight: normal;
    -fx-font-size: 9px;
    -fx-text-fill: -fx-colors-text-secondary;
    -fx-text-overrun: ellipsis;
}